priority 1

snippet classd
##
# `!p snip.rv = fn`
#
# ${2:Class Description}
#
# author James Watts <jamescwatts[at]gmail[dot]com>

class ${1:ClassName}

	##
	# Constructor

	def initialize
		${0}
	end
end
endsnippet

snippet doc_f
##
# $1
# ${2:Function Description}

def ${1:functionName}
	${0}
end
endsnippet
